<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<link rel="stylesheet" href="{% static "styles/mainStyle.css" %}">
	<title>Census - сайт переписи населения</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
</head>
<body>
	<div id="main">
		<aside>
			<nav>
				<h1 class="title">CENSUS</h1>
				<a href="/"><img src="{% static "images/иконка1.png" %}" class="aIcon"></a>
				<a href="/bonus"><img src="{% static "images/иконка2.png" %}" class="aIcon"></a>
				<a href="/info"><img src="{% static "images/иконка3.png" %}" class="aIcon"></a>
				<a href="/news"><img src="{% static "images/иконка4.png" %}" class="aIcon"></a>
			</nav>
		</aside>

		<div id="rightPage">

			<section>

				<article>
					<h1 class="title">Бонусная программа</h1>
					<p>
						Для тех кто пока не подтвердил документы или не входит в социальной помощи, то для них имеется скидка до 10% у наших партнеров.
					</p>
					<p>
						Для многодетным семьям с тремя детьми скидка 10% суммируется с предедущим, в итоге 20%. За каждого следующего ребенка к скидке прибавляется 2,5%.
					</p>
					<p>
						Для инвалидов третьей группы предоставляется скидка 5%, для второй группы 10%, для первой группы 20%. Таким образом 15%, 20%, 30% соответственно
					</p>
					{% if user.is_authenticated %}
						<h2 class="title">Ваша скидка составляет: {{ discount }}%</h2>
						{% if discount == 0 %}
							<h2 class="title">Заполните все формы для получения скидки!</h2>
							<div class="buttons">
								<a href="/residense">Записать место жительства</a>
								<a href="/docs">Записать документы гражданина</a>
								<a href="/contacs">Записать контактные данные</a>
							</div>
						{% else %}
							<h2 class="title">Ваш токен для получения скидки: {{ token }}</h2>
							<h2 class="title">QR код для быстрого доступа:</h2>
							<img src="https://qrcode.tec-it.com/API/QRCode?data={{ token }}" class="qrImage">
						{% endif %}
					{% endif %}
				</article>

			</section>
		</div>
	</div>

	<footer>
		<article class="footerArticle">
			<h2>Подвал и контактная информация</h2>
			<div class="row">
				<div class="columns">
					<h3>Карта сайта</h3>
					<a href="/">Главная</a>
					<a href="/bonus">Бонусная программ</a>
					<a href="/info">Доп. информация</a>
					<a href="/news">Новости</a>
					<a href="/regist">Регистрация</a>
					<a href="/signin">Вход в систему</a>
				</div>
				<div class="columns">
					<h3>Контакты менеджера</h3>
					<p>89841098497</p>
					<p>kesakoryakin19@gmail.com</p>
					<p>Корякин Иннокентий Петрович</p>
				</div>
				<div class="columns">
					<h3>Контакты дизайнера</h3>
					<p>89841154417</p>
					<p>daaya_ign_2002_123@mail.ru</p>
					<p>Игнатьева Дайаана Александровна</p>
				</div>
				<div class="columns">
					<h3>Контакты разработчика</h3>
					<p>89241701065</p>
					<p>mishkamba1@gmail.com</p>
					<p>Игнатьев Михаил Александрович</p>
				</div>
			</div>
		</article>
	</footer>
</body>
</html>