<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="{% static "styles/inputStyle.css" %}">
	<title>Census - сайт переписи населения</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
</head>
<body>
	<section>
		<header>
			<a href="/">
				<img class="logo" src="{% static "images/иконка2.png" %}">
				Census
			</a>
		</header>
		<div class="main">
			<span class="titleText">Заполните данные</span>

			<form method="POST">
				{% csrf_token %}

				<div>
			        {% for field in form %}
				        <div class="row">
				            {{ field.label_tag }}
				            <div class="inputField">{{ field }}</div>
				            {{ field.help_text }}
				        </div>
		        	{% endfor %}
		        </div>

				<input class="submitButton" type="submit" value="Отправить">
				{{ errorMessage|safe }}
			</form>
		</div>
	</section>
</body>
</html>