<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<link rel="stylesheet" href="{% static "styles/mainStyle.css" %}">
	<title>Census - сайт переписи населения</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
</head>
<body>
	<div id="main">
		<aside>
			<h1 class="title">CENSUS</h1>
			<nav>
				<a href="/"><img src="{% static "images/иконка1.png" %}" class="aIcon"></a>
				<a href="/bonus"><img src="{% static "images/иконка2.png" %}" class="aIcon"></a>
				<a href="/info"><img src="{% static "images/иконка3.png" %}" class="aIcon"></a>
				<a href="/news"><img src="{% static "images/иконка4.png" %}" class="aIcon"></a>
			</nav>
		</aside>

		<div id="rightPage">
			<section>

				{% if user.is_authenticated %}
					<!-- Личный кабинет -->
					<article>
						<h1 class="title">Личная страница</h1>
						<div class="mainInfo">
							<div class="leftSide">
								<h2 class="title">Ф.И.О</h2>
								<h3 class="title">{{ user.get_username }}</h3>
								<h2 class="title">Дата рождения</h2>
								<h3 class="title">{{ dateOfBirth }}</h3>
							</div>
							<div class="rightSide">
								<img src="{% static "images/Иконка.png" %}" class="avatar">
							</div>
						</div>
						<h2 class="title">Адрес проживание</h2>
						<h3 class="title">{{ place }}({{ num }} жителей) {{ address }}</h3>
						<p>Для получения бонусов необходимо заполнить <a href="/bonus">тут</a> документы подтверждающие вашу принадлежность к той или иной социальной группе</p>
						<p><a href="/logout">Выйти из системы</a></p>
					</article>
				{% else %}
					<article>
						<h1 class="title">Census</h1>

						<h2 class="title">Проблемы которые решает наш проект</h2>
						<p>
							Наш проект решает проблему нехватки бюджета сёл из за того, что люди не проходят прописку по настоящему месту жительства. В данный момент люди не могут регистрировать прописку, потому-что не имеют место жительства. Например, гражданин родился в Нижнем-Бестяхе и прошел прописку там, а потом переехал в село Павловск. НО ему <b>ЛЕНЬ</b> из за <span>волокиты с документами</span> регистрировать прописку
						</p>
						<h2 class="title">Ценность проекта</h2>
						<p>
							Аналогом нашему сайту является портал ЕПГУ, но люди будут пользоваться нашим порталом, потому-что именно они получат не скромные услуги, тем более администрация района будет только за! Про местное производство мы тоже не забыли. ИП будут сотрудничать с нами , таким образом продвигая свой бизнес.
						</p>
						<h2 class="title">Решение</h2>
						<p>
							Решением является наш сайт, где прошедшим регистрацию гражданам будут доступны скидки, бонусы и т.д. Сайт стимулирует людей.
						</p>
						<p>
							Наш ожидаемый результат- это  увеличение  бюджета района (села), ведь чем больше кол-во жителей,тем больше бюджета выделяет государство.
						</p>
						<div class="buttons">
							<a href="/regist">Регистрация</a>
							<a href="/signin">Вход в систему</a>
						</div>
					</article>
				{% endif %}

			</section>
		</div>
	</div>

	<footer>
		<article class="footerArticle">
			<h2>Подвал и контактная информация</h2>
			<div class="row">
				<div class="columns">
					<h3>Карта сайта</h3>
					<a href="/">Главная</a>
					<a href="/bonus">Бонусная программ</a>
					<a href="/info">Доп. информация</a>
					<a href="/news">Новости</a>
					<a href="/regist">Регистрация</a>
					<a href="/signin">Вход в систему</a>
				</div>
				<div class="columns">
					<h3>Контакты менеджера</h3>
					<p>89841098497</p>
					<p>kesakoryakin19@gmail.com</p>
					<p>Корякин Иннокентий Петрович</p>
				</div>
				<div class="columns">
					<h3>Контакты дизайнера</h3>
					<p>89841154417</p>
					<p>daaya_ign_2002_123@mail.ru</p>
					<p>Игнатьева Дайаана Александровна</p>
				</div>
				<div class="columns">
					<h3>Контакты разработчика</h3>
					<p>89241701065</p>
					<p>mishkamba1@gmail.com</p>
					<p>Игнатьев Михаил Александрович</p>
				</div>
			</div>
		</article>
	</footer>
</body>
</html>