<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<link rel="stylesheet" href="{% static "styles/mainStyle.css" %}">
	<title>Census - сайт переписи населения</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
</head>
<body>
	<div id="main">
		<aside>
			<img class="avatar" src="{% static "images/Иконка.png" %}">

			<nav>
				<div class="navBar active"><a href="/">Личный кабинет</a></div>
				<div class="navBar"><a href="/bonus">Ваши бонусы</a></div>
				<div class="navBar"><a href="/info">Доп. инфо</a></div>
				<div class="navBar"><a href="/news">Новостная лента</a>
		</aside>

		<div id="rightPage">

			<header>
				<div class="leftHeader"><img class="logo" src="{% static "images/лого.png" %}" alt=""></div>
				<div class="rightHeader"><img class="bonusButton" src="{% static "images/present.svg" %}"></div>
			</header>

			<section>

				{% if user.is_authenticated %}
					<!-- Личный кабинет -->
				{% else %}
					<article>
						<h1 class="title">Census</h1>

						<h2 class="title">Проблемы которые решает наш проект</h2>
						<p>
							Наш проект решает проблему нехватки бюджета сёл из за того, что люди не проходят прописку по настоящему месту жительства. В данный момент люди не могут регистрировать прописку, потому-что не имеют место жительства. Например, гражданин родился в Нижнем-Бестяхе и прошел прописку там, а потом переехал в село Павловск. НО ему <b>ЛЕНЬ</b> из за <span>волокиты с документами</span> регистрировать прописку
						</p>
						<h2 class="title">Ценность проекта</h2>
						<p>
							Аналогом нашему сайту является портал ЕПГУ, но люди будут пользоваться нашим порталом, потому-что именно они получат не скромные услуги, тем более администрация района будет только за! Про местное производство мы тоже не забыли. ИП будут сотрудничать с нами , таким образом продвигая свой бизнес.
						</p>
						<h2 class="title">Решение</h2>
						<p>
							Решением является наш сайт, где прошедшим регистрацию гражданам будут доступны скидки,бонусы и т.д. Сайт стимулирует людей.
						</p>
						<p>
							Наш ожидаемый результат- это  увеличение  бюджета района (села), ведь чем больше кол-во жителей,тем больше бюджета выделяет государство.
						</p>
					</article>
				{% endif %}

			</section>
		</div>
	</div>

	<footer>
		<article class="footerArticle">
			<h2>Подвал и контактная информация</h2>
		</article>
	</footer>
</body>
</html>