	@font-face {
	    font-family: verdana;
	    src: url(fonts/verdana.ttf);
	}
	@font-face{
		font-family: VAG;
		src: url('fonts/VAG World.ttf');
	}
	html{
		height: 100%;
	}
	body{
		margin: 0;
		padding: 0;
		font-family: 'verdana';
		height: 100%;
	}
	aside{
		height: 100%;
		color: white;
		font-family: VAG;
		width: 10%;
		float: left;
		background-color: #0C1352;
	}
	#rightPage{
		background-image: url('задний план.png');
		background-size: 100% 100%;
		background-repeat: repeat-x;
		width: 100%;
	}
	.avatar{
		width: 100%;
	}
	.aIcon{
		width: 50%;
		display: block;
		margin: auto;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.active{
		background-color: #E28A31;
		color: white;
		cursor: default;
	}
	p a:hover{
		text-decoration: none;
	}
	.active a{
		cursor: default;
	}
	.active:hover{
		background-color: #E28A31;
		color: white;
	}
	#main{
		height: 100%;
		display: flex;
		flex-direction: row
	}
	section{
		color: black;
		opacity: 0.7;
    	filter: alpha(Opacity=70);
		background-color: white;
		margin: auto;
		border-radius: 15px;
		margin-top: 5em;
		width: 80%;
		padding: 0.5em;
	}
	.mainInfo{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.leftSide{
		width: 80%;
	}
	.rightSide{
		width: 20%;
	}
	p{
		font-size: 14pt;
	}
	h1{
		font-size: 2em;
		margin: 0;
	}
	.title{
		text-align: center;
	}
	.buttons{
		display: flex;
		justify-content: space-around;
	}
	.buttons a{
		padding: 1em;
		font-size: 1.3em;
		margin: auto;
		border: 1px solid black;
		border-radius: 15px;
		text-align: center;
		cursor: pointer;
		background-color: #70C4BE;
	}
	.buttons a:hover{
		background-color: #4999A3;
		color: white;
	}
	.qrImage{
		width: 300px;
		display: block;
		margin: auto;
	}
	footer{
		background-color: #0C1352;
		color: #235EA7;
	}
	.footerArticle{
		padding-right: 2em;
		padding-left: 2em;
		width: 90%;
	}
	.row{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.columns{
		display: flex;
		flex-direction: column;
	}
	@media (max-width: 1300px){
		section{
			padding-bottom: 12em;
		}
	}
	@media (max-width: 768px){
		#main{
			flex-direction: column;
		}
		.mainInfo{
			flex-direction: column;
		}
		.avatar{
			width: 70%;
			display: block;
			margin: auto;
		}
		.rightSide{
			width: 100%;
			margin: auto;
			order: 1;
		}
		.leftSide{
			width: 100%;
			order: 2;
		}
		aside{
			display: flex;
			border: none;
			width: 100%;
			padding: 0;
			height: 70px;
		}
		nav{
			display: flex;
			justify-content: space-evenly;
			width: 100%
		}
		.aIcon{
			margin: 0;
			width: 50px;
		}
		.footerArticle{
			width: 100%;
			float: none;
		}
	}