	@font-face {
	    font-family: Roboto;
	    src: url(fonts/Roboto-Regular.ttf);
	}
	body{
		margin: 0;
		padding: 0;
		font-family: 'Roboto';
	}
	aside{
		width: 20%;
		float: left;
		padding: 0.5em;
		border-right: 1px solid black;
	}
	.avatar{
		width: 180px;
	}
	a{
		color: inherit;
		padding: 0.4em;
		text-decoration: none;
	}
	.navBar{
		margin: auto;
		border: 1px solid black;
		margin: 1em;
		text-align: center;
		cursor: pointer;
	}
	.navBar:hover{
		background-color: #4999A3;
		color: white;
	}
	.active{
		background-color: #E28A31;
		color: white;
		cursor: default;
	}
	.active a{
		cursor: default;
	}
	.active:hover{
		background-color: #E28A31;
		color: white;
	}
	#main{
		display: flex;
		flex-direction: row
	}
	header{
		padding: 0.5em;
		border-bottom: 1px solid black;
		display: flex;
		justify-content: space-between;
	}
	.logo{
		height: 2.5em;
	}
	.bonusButton{
		width: 30px;
	}
	section{
		padding: 0.5em;
		padding-bottom: 10em;
		background-image: url(Фон.png);
		background-size: 100% 100%;
		background-repeat: repeat-x;
	}
	p{
		font-size: 14pt;
	}
	h1{
		font-size: 2em;
		margin: 0;
	}
	.title{
		text-align: center;
	}
	.buttons{
		display: flex;
		justify-content: space-around;
	}
	.buttons a{
		padding: 1em;
		font-size: 1.3em;
		margin: auto;
		border: 1px solid black;
		border-radius: 15px;
		text-align: center;
		cursor: pointer;
		background-color: #70C4BE;
	}
	.buttons a:hover{
		background-color: #4999A3;
		color: white;
	}
	footer{
		padding-left: 197px;
		border-top: 1px solid black;
	}
	.footerArticle{
		padding: 0.5em;
	}
	@media (max-width: 1300px){
		section{
			padding-bottom: 12em;
		}
	}
	@media (max-width: 768px){
		header{
			display: none;
		}
		#main{
			flex-direction: column;
		}
		aside{
			display: flex;
			border: none;
			width: 100%;
			padding: 0;
		}
		.avatar{
			width: 50px;
		}
		nav{
			display: flex;
			justify-content: space-between;
			width: 100%
		}
		.navBar{
			margin: 0;
			margin: auto;
		}
		footer{
			padding: 0;
		}
	}